@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    max-width: 978px;
    margin: 0 auto;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover, .active {
    text-decoration: none;
    border-bottom: 2px solid #333;
}

.boxed {
    border: 2px solid #333;
    padding: 1px 5px;
}

header {
    margin: 72px auto 72px;
    text-transform: uppercase;
    a:hover {
        text-decoration: none;
    }
    a {
        font-family: 'Poiret One', cursive;
        h1 {
            font-size: 40pt;
        }
        p {
            margin-top: 10px;
        }
    }
}

nav, footer, #lang-select {
    li {
        display: inline-block;
    }
}

#lang-select {
    position: absolute;
    top: 12px;
    left: 12px;
}

nav {
    font-size: 17pt;
    margin: 40px auto;
    text-transform: uppercase;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            font-family: 'Poiret One', cursive;
        }
    }
}

footer {
    font-size: 10pt;
    margin-bottom: 18px;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            margin-left: 12px;
        }
    }
}

main {
    overflow: hidden;
    width: 100%;
    min-height: 350px;
    p {
        margin-bottom: 18px;
        text-align: justify;
    }
}

.portrait {
    float: right;
    width: 450px;
    padding: 20px 0 20px 0;
    img {
        margin-left: 12%;
    }
}

//https://medium.com/@kimcodeashian/simple-css-solutions-how-to-resize-images-with-different-dimensions-without-cropping-eb744e93246d
.fullsize-image {
    position: relative;
    width: 978px;
    height: 350px;
    overflow: hidden;
    img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
