@import "_include-media";

$breakpoints: (phone: 380px, tablet: 768px, desktop: 1024px);

:root {
    --bg-color: #07005C;
    --font-color: #D2B896;
    --color-primary: #D2B896;
    --font-family-sans: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    --grid-gutter: 4rem;
}

// resetting

a:hover:not(.button) {
    opacity: unset;
}

// styles

body {
    margin-top: 24px;
}

main {
    padding: 2% 8%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    @include media(">phone", "<desktop") {
        height: 45%;
        gap: 0 10%;
        justify-content: flex-start;
        padding-top: 32px;
    }
}

#logo {
    img:last-child {
        display: none;
    }

    &:hover img:first-child {
        display: none;
    }

    &:hover img:last-child {
        display: inline-block;
    }
}

p, p a {
    color: #E5DBCB;
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: unset;
        color: #FA1A8E;
    }
}

@mixin rounded-corners {
    border-radius: 15px;
    border: 2px solid var(--color-primary);
}

.rounded-corners {
    @include rounded-corners;
}

footer {
    border-top: solid 1px var(--color-primary);
    display: flex;
    flex-direction: column;
}

#events, #upcoming {
    list-style: none;
    padding: 0;
    li {
        padding: 6%;
    }
    li + li {
        margin-top: 4rem;
    }
    li p {
        margin: 12px 0 0 0;
    }
    @include media(">phone") {
        li {
            border: 3px #D2B896 solid;
            padding: 2%;
        }
    }
    .canceled {
        text-decoration: line-through;
        &, p, a {
            color: lightslategray;
        }
    }
}

#yt-cookie-notice p {
    padding: 0 7%;
    margin: 4px auto;
}

iframe {
    @include rounded-corners;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

.gallery {
    flex-flow: column wrap;
}

@include media(">=tablet") {
    .gallery {
        flex-flow: row wrap;
    }
}

.gallery > div > *:not(:first-child) {
    margin-top: 2rem;
}

dd {
    margin: 0;
}

section + section {
    margin-top: 7rem;
}
