---
title: About
---

<section class="about">
  <aside class="about portrait">
    <%= image_tag 'me.jpg', alt: "Portrait of Sebastian Rudolfo Christ" %>
    <span class="caption">Photo courtesy of <%= link_to 'Frank Hohmeyer', 'https://www.facebook.com/frank.hohmeyer' %>
  </aside>
  <aside class="about text">
    <p>
      Sebastian <span class="emphasised">Rudolfo</span> Christ ist ein in Worms am Rhein ansässiger Jazz-Gitarrist und Kontrabassist.
    </p>
    <p>
      Sein Spezialgebiet sind die frühen Jazz-Stile der 20er und 30er Jahre des zwanzigsten Jahrhunderts. Sein Hauptaugenmerk
      liegt hierbei auf der Musik Django Reinhardts, heute Jazz manouche genannt.
    </p>
    <p>
      Aktuell spielt er in verschiedenen lokalen Ensembles im Rhein-Neckar-Gebiet:
      <dl class="combos">
        <dt class="title">
          <%= link_to 'Hot Club Worms', 'https://hotclubworms.de'%> und
          <%= link_to 'Delta Django Collective', 'https://www.facebook.com/deltadjangocollective/' %>
        </dt>
        <dd class="desc">Jazz manouche/Swing</dd>
        <dt class="title">CLOS Duo</dt>
        <dd class="desc">Great American Songbook und Jazz-Pop mit Gitarre, Kontrabass und Vocals</dd>
        <dt class="title">Solo</dt>
        <dd class="desc">Jazz manouche mit einer Gitarre</dd>
      </dl>
  </aside>
</section>
