---
title: About
---

<section>
  <aside class="portrait">
    <%= image_tag lorem.image("350x400"), alt: "Portrait of Sebastian Rudolfo Christ" %>
  </aside>
  <p>
    <%= lorem.paragraphs 5 %>
  </p>
  <p>
    <%= lorem.paragraphs 5 %>
  </p>
</section>
