---
title: About
---

<section class="about">
  <aside class="about portrait">
    <%= image_tag lorem.image("250x300"), alt: "Portrait of Sebastian Rudolfo Christ" %>
  </aside>
  <aside class="about text">
    <p>
      Sebastian <em>Rudolfo</em> Christ, geboren in Worms am Rhein, macht Musik mit seiner Gitarre.
    </p>
  </aside>
</section>
