---
title: Combos
---

<% data.combos.each do |combo| %>
<section class="combo">
  <h2><%= combo.name %></h2>
  <p><%= combo.description %></p>
  <% unless combo.homepage.nil? %>
  <%= link_to combo.homepage, 'Homepage' %>
  <% end %>
</section>
<% end %>
