---
title: Gallerie
layout: gallery
---
<div class="col-6">
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="IzomSV_9WKY"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="vKHyBGPc9-o"
        data-autoscale>
    </div>
    <%= image_tag "pics/2.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
    <%= image_tag "pics/3.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
</div>
<div class="col-6">
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="WE_BMO_4RRo"
        data-autoscale>
    </div>
    <div
        class="rounded-corners"
        data-service="youtube"
        data-id="W-TVZgGNcTI"
        data-autoscale>
    </div>
    <%= image_tag "pics/1.jpg", class: "rounded-corners", alt: "Sebastian Rudolfo Christ" %>
</div>
