---
title: Sebastian Rudolfo Christ
---

<section>
    <p>
        Sebastian <span class="emphasised">Rudolfo</span> Christ ist ein in Worms am Rhein ans채ssiger Jazz-Gitarrist und Kontrabassist.
    </p>
    <p>
        Sein Spezialgebiet sind die fr체hen Jazz-Stile der 20er und 30er Jahre des zwanzigsten Jahrhunderts. Sein Hauptaugenmerk
        liegt hierbei auf der Musik Django Reinhardts, heute Jazz manouche genannt.
    </p>
    <p>
        Sebastian Rudolfo Christ spielt mit verschiedenen lokalen Ensembles
        im Rhein-Neckar- und Rhein-Main-Gebiet, u.A.:
        <dl>
            <dt class="text-uppercase">Hot Club Worms</dt>
            <dd class="text-right">
                <%= link_to "Website", "https://hotclubworms.de", class: "text-right" %>
            </dd>
            <dt class="text-uppercase">Mainouche</dt>
            <dd class="text-right">
                <%= link_to "Website", "https://mainouche.de" %>
            </dd>
            <dt class="text-uppercase">Miro Trio/Miro Quartett</dt>
            <dd>
                <p>
                    Jazz manouche Trio mit f체nf Instrumenten! Egal ob zwei Gitarren mit Bass oder Geige, Gitarre und
                    Bass bzw. drei Gitarren gespielt werden, der Sound des Trios ist stets vielf채ltig und
                    abwechslungsreich.
                </p>
                <p>
                    Und wenn die volle Instrumentation verlangt wird, spielen wir als Miro Quartett!
                </p>
            </dd>
            <dt class="text-uppercase">CLOS Duo</dt>
            <dd>
                <p>
                    Easy Listening Jazz Standards und Jazz-Pop  mit Gitarre, Kontrabass und Vocals.
                </p>
            </dd>
            <dt class="text-uppercase">Rodolfo &amp; Rudolfo</dt>
            <dd>
                <p>
                    Jazz manouche Duo mit Geige und Gitarre.
                </p>
            </dd>
            <dt class="text-uppercase">Shabbir/Chirst</dt>
            <dd>
                <p>
                    Jazz manouche Duo mit zwei Gitarren.
                </p>
            </dd>
        </dl>
    </p>
</section>
