---
title: Datenschutzerklärung
layout: hard_links
---
<section></section>
<section class="padding-block-400">
    <h2 class="primary-heading">Datenschutzerklärung</h2>
    <p>Wir informieren Sie nachfolgend gemäß den gesetzlichen Vorgaben des Datenschutzrechts (insb. gemäß BDSG n.F. und der europäischen Datenschutz-Grundverordnung ‚DS-GVO‘) über die Art, den Umfang und Zweck der Verarbeitung personenbezogener Daten durch unser Unternehmen. Diese Datenschutzerklärung gilt auch für unsere Websites und Sozial-Media-Profile. Bezüglich der Definition von Begriffen wie etwa „personenbezogene Daten“ oder „Verarbeitung“ verweisen wir auf Art. 4 DS-GVO.</p>
    <strong>Name und Kontaktdaten des / der Verantwortlichen</strong><br />
    Unser/e Verantwortliche/r (nachfolgend „Verantwortlicher“) i.S.d. Art. 4 Zif. 7 DS-GVO ist:<br />
    <br />
    Sebastian Rudolfo Christ<br />Mähgasse 7<br />67547 Worms, Deutschland<br />E-Mail-Adresse: info@rudolfochristguitar.de<br /><br />


    <strong>Datenarten, Zwecke der Verarbeitung und Kategorien betroffener Personen</strong><br />
    <p>Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung, Verarbeitung und Nutzung personenbezogener Daten.</p>
    <strong>1. Arten der Daten, die wir verarbeiten</strong><br />
    Nutzungsdaten (Zugriffszeiten, besuchte Websites etc.), Bestandsdaten (Name, Adresse etc.), Kontaktdaten (Telefonnummer, E-Mail, Fax etc.), Kommunikationsdaten (IP-Adresse etc.), <br />
    <br />
    <strong>2. Zwecke der Verarbeitung nach Art. 13 Abs. 1 c) DS-GVO</strong><br />
    Marketing / Vertrieb / Werbung, Vermeidung von SPAM und Missbrauch, Websites mit Funktionen und Inhalten bereitstellen, Maßnahmen der Sicherheit, <br />
    <br />
    <strong>3. Kategorien der betroffenen Personen nach Art. 13 Abs. 1 e) DS-GVO</strong><br />
    Besucher/Nutzer der Website, <br />
    <br />
    <p>Die betroffenen Personen werden zusammenfassend als „Nutzer“ bezeichnet.</p>
    <br />

    <strong>Rechtsgrundlagen der Verarbeitung personenbezogener Daten</strong>
    <p>Nachfolgend Informieren wir Sie über die Rechtsgrundlagen der Verarbeitung personenbezogener Daten:</p>
    <ol style="margin:10px 0px; padding:15px;">
        <li>Wenn wir Ihre Einwilligung für die Verarbeitung personenbezogenen Daten eingeholt haben, ist Art. 6 Abs. 1 S. 1 lit. a) DS-GVO Rechtsgrundlage.</li>
        <li>Ist die Verarbeitung zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Ihre Anfrage hin erfolgen, so ist Art. 6 Abs. 1 S. 1 lit. b) DS-GVO Rechtsgrundlage.</li>
        <li>Ist die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der wir unterliegen (z.B. gesetzliche Aufbewahrungspflichten), so ist Art. 6 Abs. 1 S. 1 lit. c) DS-GVO Rechtsgrundlage.</li>
        <li>Ist die Verarbeitung erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person zu schützen, so ist Art. 6 Abs. 1 S. 1 lit. d) DS-GVO Rechtsgrundlage.</li>
        <li>Ist die Verarbeitung zur Wahrung unserer oder der berechtigten Interessen eines Dritten erforderlich und überwiegen diesbezüglich Ihre Interessen oder Grundrechte und Grundfreiheiten nicht, so ist Art. 6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage.</li>
    </ol>
    <br />
    <strong>Weitergabe personenbezogener Daten an Dritte und Auftragsverarbeiter</strong>
    <p>Ohne Ihre Einwilligung geben wir grundsätzlich keine Daten an Dritte weiter. Sollte dies doch der Fall sein, dann erfolgt die Weitergabe auf der Grundlage der zuvor genannten Rechtsgrundlagen z.B. bei der Weitergabe von Daten an Online-Paymentanbieter zur Vertragserfüllung oder aufgrund gerichtlicher Anordnung oder wegen einer gesetzlichen Verpflichtung zur Herausgabe der Daten zum Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung der Rechte am geistigen Eigentum.<br />
        Wir setzen zudem Auftragsverarbeiter (externe Dienstleister z.B. zum Webhosting unserer Websites und Datenbanken) zur Verarbeitung Ihrer Daten ein. Wenn im Rahmen einer Vereinbarung zur Auftragsverarbeitung an die Auftragsverarbeiter Daten weitergegeben werden, erfolgt dies immer nach Art. 28 DS-GVO. Wir wählen dabei unsere Auftragsverarbeiter sorgfältig aus, kontrollieren diese regelmäßig und haben uns ein Weisungsrecht hinsichtlich der Daten einräumen lassen. Zudem müssen die Auftragsverarbeiter geeignete technische und organisatorische Maßnahmen getroffen haben und die Datenschutzvorschriften gem. BDSG n.F. und DS-GVO einhalten</p>

    <br />
    <strong>Datenübermittlung in Drittstaaten</strong>
    <p>Durch die Verabschiedung der europäischen Datenschutz-Grundverordnung (DS-GVO) wurde eine einheitliche Grundlage für den Datenschutz in Europa geschaffen. Ihre Daten werden daher vorwiegend durch Unternehmen verarbeitet, für die DS-GVO Anwendung findet. Sollte doch die Verarbeitung durch Dienste Dritter außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums stattfinden, so müssen diese die besonderen Voraussetzungen der Art. 44 ff. DS-GVO erfüllen. Das bedeutet, die Verarbeitung erfolgt aufgrund besonderer Garantien, wie etwa die von der EU-Kommission offiziell anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder der Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen, der so genannten „Standardvertragsklauseln“. <br />Soweit wir aufgrund der Unwirksamkeit des sog. „Privacy Shields“, nach Art. 49 Abs. 1 S. 1 lit. a) DSGVO die ausdrückliche Einwilligung in die Datenübermittlung in die USA von Ihnen einholen, weisen wird diesbezüglich auf das Risiko eines geheimen Zugriffs durch US-Behörden und die Nutzung der Daten zu Überwachungszwecken, ggf. ohne Rechtsbehelfsmöglichkeiten für EU-Bürger, hin.</p>

    <br />
    <strong>Löschung von Daten und Speicherdauer</strong>
    <p>Sofern nicht in dieser Datenschutzerklärung ausdrücklich angegeben, werden Ihre personenbezogen Daten gelöscht oder gesperrt, sobald die zur Verarbeitung erteilte Einwilligung von Ihnen widerrufen wird oder der Zweck für die Speicherung entfällt bzw. die Daten für den Zweck nicht mehr erforderlich sind, es sei denn deren weitere Aufbewahrung ist zu Beweiszwecken erforderlich oder dem stehen gesetzliche Aufbewahrungspflichten entgegenstehen. Darunter fallen etwa handelsrechtliche Aufbewahrungspflichten von Geschäftsbriefen nach § 257 Abs. 1 HGB (6 Jahre) sowie steuerrechtliche Aufbewahrungspflichten nach § 147 Abs. 1 AO von Belegen (10 Jahre). Wenn die vorgeschriebene Aufbewahrungsfrist abläuft, erfolgt eine Sperrung oder Löschung Ihrer Daten, es sei denn die Speicherung ist weiterhin für einen Vertragsabschluss oder zur Vertragserfüllung erforderlich.</p>

    <br/>
    <strong>Bestehen einer automatisierten Entscheidungsfindung</strong>
    <p>Wir setzen keine automatische Entscheidungsfindung oder ein Profiling ein.</p>

    <br/>
    <strong>Bereitstellung unserer Website und Erstellung von Logfiles</strong>
    <ol style="margin:10px 0px; padding:15px;">
        <li>Wenn Sie unsere Webseite lediglich informatorisch nutzen (also keine Registrierung und auch keine anderweitige Übermittlung von Informationen), erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten:<br />
            • IP-Adresse;<br />
            • Internet-Service-Provider des Nutzers;<br />
            • Datum und Uhrzeit des Abrufs;<br />
            • Browsertyp;<br />
            • Sprache und Browser-Version;<br />
            • Inhalt des Abrufs;<br />
            • Zeitzone;<br />
            • Zugriffsstatus/HTTP-Statuscode;<br />
            • Datenmenge;<br />
            • Websites, von denen die Anforderung kommt;<br />
            • Betriebssystem.<br />
            Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten von Ihnen findet nicht statt.<br /><br />
        </li>
        <li>Diese Daten dienen dem Zweck der nutzerfreundlichen, funktionsfähigen und sicheren Auslieferung unserer Website an Sie mit Funktionen und Inhalten sowie deren Optimierung und statistischen Auswertung.<br /><br /></li>
        <li>Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f)  DS-GVO.<br /><br /></li>
        <li>Wir speichern aus Sicherheitsgründen diese Daten in Server-Logfiles für die Speicherdauer von  Tagen. Nach Ablauf dieser Frist werden diese automatisch gelöscht, es sei denn wir benötigen deren Aufbewahrung zu Beweiszwecken bei Angriffen auf die Serverinfrastruktur oder anderen Rechtsverletzungen.<br /></li>
    </ol>










    <br/>
    <strong>Newsletter</strong>
    <ol style="margin:10px 0px; padding:15px;">
        <li>Unseren Newsletter können Sie mit Ihrer freiwilligen Einwilligung durch Eintragung Ihrer E-Mail-Adresse abonnieren. Nur diese ist Pflicht. Die Angabe weiterer Daten ist freiwillig und dient nur dem Zweck einer persönlichen Ansprache. Wir verwenden dabei zur Anmeldung das sog. „Double-Opt-in-Verfahren“. Nach Ihrer Anmeldung mit Ihrer E-Mail erhalten Sie von uns zur Bestätigung Ihrer Anmeldung eine E-Mail mit einem Link zur Bestätigung. Wenn Sie diesen Bestätigungslink klicken, wird Ihre E-Mail in den Newsletterverteiler aufgenommen und zum Zweck der Übersendung von E-Mails gespeichert. Sollten Sie den Klick auf den Bestätigungslink nicht innerhalb von 0 Stunden Stunden durchführen, werden Ihre Anmeldedaten gesperrt und nach 30 Tage Tagen automatisch gelöscht. <br /><br /></li>
        <li>Zudem protokollieren wir Ihre bei der Anmeldung verwendete IP-Adresse sowie das Datum und die Uhrzeit des Double-Opt-ins (Anmeldung und Bestätigung). Zweck dieser Speicherung ist Erfüllung von rechtlichen Anforderungen hinsichtlich des Nachweises Ihrer Anmeldung sowie die Missbrauchsprävention hinsichtlich Ihrer E-Mail.<br /><br /></li>
        <li>Im Rahmen Ihrer Einwilligungserklärung werden die Inhalte (z.B. beworbene Produkte/Dienstleistungen, Angebote, Werbung und Themen) des Newsletters konkret beschrieben.<br /><br /></li>
        <li>Wir nutzen zum E-Mail-Versand folgenden Versanddienstleister: <br />CleverReach GmbH & Co. KG (Schafjückenweg 2, 26180 Rastede, Deutschland), dessen Datenschutzerklärung finden Sie hier <a href="https://www.cleverreach.com/de-de/datenschutz/" rel="nofollow" target="_blank">https://www.cleverreach.com/de-de/datenschutz/</a>. Wir haben mit dem Versanddienstleister eine Vereinbarung zur Auftragsverarbeitung nach Art. 28 DS-GVO abgeschlossen.<br /><br /><li>Beim Versand des Newsletters werten wir Ihr Nutzerverhalten aus. Die Newsletter  beinhalten dafür sogenannte „Web-Beacons“ bzw. „Tracking-Pixel“, die beim Öffnen des Newsletters aufgerufen werden. Für die Auswertungen verknüpfen wir die Web-Beacons mit Ihrer E-Mail-Adresse und einer individuellen ID. Auch im Newsletter erhaltene Links enthalten diese ID. Die Daten werden ausschließlich pseudonymisiert erhoben, die IDs werden also nicht mit Ihren weiteren persönlichen Daten verknüpft, eine direkte Personenbeziehbarkeit wird ausgeschlossen. Mit diesen Daten können wir feststellen, ob und wann Sie den Newsletter geöffnet haben und welche Links im Newsletter geklickt worden sind. Dies dient dem Zweck der Optimierung und statistischen Auswertung unseres Newsletters.<br /><br /></li>
            <li>Rechtsgrundlage für den Newsletterversand, Erfolgsmessung und die Speicherung der E-Mail ist Ihre Einwilligung gem. Art. 6 Abs. 1 S. 1 lit. a) DS-GVO i.V.m § 7 Abs. 2 Nr. 3 UWG und für die Protokollierung der Einwilligung Art. 6 Abs. 1 S. 1 lit. f) DS-GVO, da diese unserem berechtigten Interesse der juristischen Beweisbarkeit dient.<br /><br /></li>
            <li>Dem Tracking können Sie jederzeit widersprechen, indem Sie den Abmeldelink am Ende des Newsletters klicken. In dem Falle würde allerdings auch der Newsletterempfang beendet. Wenn Sie in Ihrer E-Mail-Software die Anzeige von Bildern deaktivieren, ist ein Tracking ebenfalls nicht möglich. Dies kann allerdings Einschränkungen hinsichtlich der Funktionen des Newsletters haben und enthaltene Bilder werden dann nicht angezeigt.<br /><br /></li>
            <li>Sie können Ihre Einwilligung in die Übersendung des Newsletters jederzeit widerrufen. Sie können den Widerruf durch Betätigung des Abmeldelinks am Ende des Newsletters, eine E-Mail oder Mitteilung an unsere obigen Kontaktdaten ausüben. Wir speichern Ihre Daten, solange Sie den Newsletter abonniert haben. Nach der Abmeldung werden Ihre Daten nur noch anonym zu statistischen Zwecken gespeichert.<br /><br /></li>
    </ol>















    <br/>
    <strong>Google ReCAPTCHA</strong>

    <ol style="margin:10px 0px; padding:15px;">
        <li>Wir haben auf unserer Webseite die Anti-Spam-Funktion „reCAPTCHA“ von „Google“ (<strong>Anbieter:</strong> Google Ireland Limited, Registernr.: 368047, Gordon House, Barrow Street, Dublin 4, Irland) integriert.<br /><br /></li>
        <li><strong>Datenkategorie und Beschreibung der Datenverarbeitung:</strong> Nutzungsdaten (z.B. aufgerufene Webseite, IP). Durch den Einsatz von „reCAPTCHA“ in unseren Formularen können wir feststellen, ob die Eingabe durch eine Maschine (Robot) oder einen Menschen erfolgte. Bei der Nutzung des Dienstes können Ihre IP-Adresse und ggf. weitere dafür benötigte Daten an Google-Server in den USA übertragen werden.<br /><br /></li>
        <li><strong>Zweck der Verarbeitung:</strong> Vermeidung von Spam und Missbrauch sowie unser wirtschaftliches Interesse an der Optimierung unserer Website.<br /><br /></li>
        <li><strong>Rechtsgrundlagen:</strong> Haben Sie für Verarbeitung Ihrer personenbezogenen Daten mittels „reCaptcha“ vom Drittanbieter Ihre Einwilligung erteilt („Opt-in“), dann ist Art. 6 Abs. 1 S. 1 lit. a) DS-GVO die Rechtsgrundlage. Rechtsgrundlage ist zudem unser in den obigen Zwecken liegendes berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f) DS-GVO.<br /><br /></li>
        <li><strong>Datenübermittlung/Empfängerkategorie:</strong> Drittanbieter in den USA.<br /><br /></li>
        <li><strong>Speicherdauer:</strong> bis zur Löschung der Cookies durch Sie als Nutzer.<br /><br /></li>
        <li>Weitere Informationen finden Sie zu Google ReCAPTCHA unter&nbsp;<a href="https://www.google.com/recaptcha/" target="_blank" rel="nofollow">https://www.google.com/recaptcha/</a>&nbsp;sowie in der Datenschutzerkl&auml;rung von Google unter:&nbsp;<a href="https://policies.google.com/privacy" target="_blank"  rel="nofollow">https://policies.google.com/privacy</a>.<br /><br /></li>
    </ol>


    <br/>
    <strong>Präsenz in sozialen Medien</strong>

    <ol style="margin:10px 0px; padding:15px;">
        <li>Wir unterhalten in sozialen Medien Profile bzw. Fanpages. Bei der Nutzung und dem Aufruf unseres Profils im jeweiligen Netzwerk durch Sie gelten die jeweiligen Datenschutzhinweise und Nutzungsbedingungen des jeweiligen Netzwerks.<br /><br /></li>
        <li><strong>Datenkategorien und Beschreibung der Datenverarbeitung:</strong> Nutzungsdaten, Kontaktdaten, Inhaltsdaten, Bestandsdaten. Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind und bei diesen eingeloggt sind). Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke. Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.<br /><br /></li>
        <li><strong>Zweck der Verarbeitung:</strong> Kommunikation mit den auf den sozialen Netzwerken angeschlossenen und registrierten Nutzern; Information und Werbung für unsere Produkte, Angebote und Dienstleistungen; Außerdarstellung und Imagepflege; Auswertung und Analyse der Nutzer und Inhalte unserer Präsenzen in den sozialen Medien.<br /><br /></li>
        <li><strong>Rechtsgrundlagen:</strong> Die Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten ist unser in den obigen Zwecken liegendes berechtigtes Interesse gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO. Soweit Sie uns bzw. dem Verantwortlichen des sozialen Netzwerks eine Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten erteilt haben, ist Rechtsgrundlage Art. 6 Abs. 1 S. 1 lit. a) i.V.m. Art. 7 DS-GVO.<br /><br /></li>
        <li><strong>Datenübermittlung/Empfängerkategorie:</strong> Soziales Netzwerk.<br /><br /></li>
        <li>Die Datenschutzhinweise, Auskunftsmöglichkeiten und Widerspruchmöglichkeiten (Opt-Out) der jeweiligen Netzwerke / Diensteanbieter finden Sie hier:<br /><br />
	    • <strong>Facebook</strong> – Diensteanbieter: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland); Website: <a href="http://www.facebook.com/" rel="nofollow" target="_blank">www.facebook.com</a>; Datenschutzerkl&auml;rung:&nbsp;<a href="https://www.facebook.com/about/privacy/" rel="nofollow" target="_blank">https://www.facebook.com/about/privacy/</a>, Opt-Out:&nbsp;<a href="https://www.facebook.com/settings?tab=ads" rel="nofollow" target="_blank">https://www.facebook.com/settings?tab=ads</a>&nbsp;und&nbsp;<a href="http://www.youronlinechoices.com/" rel="nofollow" target="_blank">http://www.youronlinechoices.com</a>; Widerspruch: <a href="https://www.facebook.com/help/contact/2061665240770586" rel="nofollow" target="_blank">https://www.facebook.com/help/contact/2061665240770586</a>; Vereinbarung &uuml;ber gemeinsame Verarbeitung personenbezogener Daten auf Facebook-Seiten (Art. 26 DS-GVO): <a href="https://www.facebook.com/legal/terms/page_controller_addendum" rel="nofollow" target="_blank">https://www.facebook.com/legal/terms/page_controller_addendum</a>, Datenschutzhinweise f&uuml;r Facebook-Seiten: <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data" rel="nofollow" target="_blank">https://www.facebook.com/legal/terms/information_about_page_insights_data</a>.<br />Wir sind mit Facebook gemeinsam nach Art. 26 DSGVO für unsere Fanpage verantwortlich. Dazu wurde eine Vereinbarung namens "Informationen zu Seiten-Insights", abrufbar unter https://www.facebook.com/legal/terms/page_controller_addendum, abgeschlossen, nach der Facebook bestimmte Sicherheitsmaßnahmen beachten muss und auch die Betroffenenrechte direkt selbst erfüllen wird. Sie können sich also vor allem auch direkt an Facebook wegen Auskunftsrechten und Löschungen wenden. Ihre Betroffenenrechte, wie vor allem Auskunft, Löschung, Widerspruch und Beschwerde bei der zuständigen Aufsichtsbehörde, werden dadurch aber nicht berührt. Weitere Informationen zu der gemeinsamen Verantwortung finden Sie in den "Informationen zu Seiten-Insights-Daten" unter https://www.facebook.com/legal/terms/information_about_page_insights_data.<br /><br />
	    • <strong>Instagram</strong> – Diensteanbieter: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland) &ndash; Datenschutzerkl&auml;rung/ Opt-Out:&nbsp; <a href="https://help.instagram.com/519522125107875" rel="nofollow" target="_blank">https://help.instagram.com/519522125107875</a>, Widerspruch: <a href="https://help.instagram.com/contact/186020218683230" rel="nofollow" target="_blank">https://help.instagram.com/contact/186020218683230</a>; Vereinbarung &uuml;ber gemeinsame Verarbeitung personenbezogener Daten auf Instagram-Seiten (Art. 26 DS-GVO): <a href="https://www.facebook.com/legal/terms/page_controller_addendum" rel="nofollow" target="_blank">https://www.facebook.com/legal/terms/page_controller_addendum</a>.<br /><br />
	    
        </li>
    </ol>




    <br/>
    <strong>Rechte der betroffenen Person</strong>

    <ol style="margin:10px 0px; padding:15px;">
        <li><strong>Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten<br /><br />
            Soweit die Verarbeitung auf Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a), Art. 7 DS-GVO beruht, haben Sie das Recht, die Einwilligung jederzeit zu widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.<br /><br />
            Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung gemäß Art. 6 Abs. 1 S. 1 lit. f) DS-GVO stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.<br /><br />
            Sie können der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse jederzeit widersprechen. Das Widerspruchsrecht können Sie kostenfrei ausüben. Über Ihren Werbewiderspruch können Sie uns unter folgenden Kontaktdaten informieren:<br /><br />

            Sebastian Rudolfo Christ<br />Mähgasse 7<br />67547 Worms, Deutschland<br />E-Mail-Adresse: info@rudolfochristguitar.de<br /></strong>
            <br /></li>
            <li><strong>Recht auf Auskunft</strong><br />
                Sie haben ein Recht auf Auskunft über Ihre bei uns gespeicherten persönlichen Daten nach Art. 15 DS-GVO. Dies beinhaltet insbesondere die Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, die Herkunft ihrer Daten, sofern diese nicht direkt bei Ihnen erhoben wurden.<br /><br /></li>
            <li><strong>Recht auf Berichtigung</strong><br />
                Sie haben ein Recht auf Berichtigung unrichtiger oder auf Vervollständigung richtiger Daten nach Art. 16 DS-GVO.
                <br /><br />
            </li>
            <li><strong>Recht auf Löschung</strong><br />
                Sie haben ein Recht auf Löschung Ihrer bei uns gespeicherten Daten nach Art. 17 DS-GVO, es sei denn gesetzliche oder vertraglichen Aufbewahrungsfristen oder andere gesetzliche Pflichten bzw. Rechte zur weiteren Speicherung stehen dieser entgegen.
                <br /><br />
            </li>
            <li><strong>Recht auf Einschränkung</strong><br />
                Sie haben das Recht, eine Einschränkung bei der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn eine der Voraussetzungen in Art. 18 Abs. 1 lit. a) bis d) DS-GVO erfüllt ist:<br />
                • Wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;<br /><br />
                • die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;<br /><br />
                • der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder<br /><br />
                • wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DS-GVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.<br /><br />
            </li>
            <li><strong>Recht auf Datenübertragbarkeit</strong><br />
                Sie haben ein Recht auf Datenübertragbarkeit nach Art. 20 DS-GVO, was bedeutet, dass Sie die bei uns über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format erhalten können oder die Übermittlung an einen anderen Verantwortlichen verlangen können.
                <br /><br />
            </li>
            <li><strong>Recht auf Beschwerde</strong><br />
                Sie haben ein Recht auf Beschwerde bei einer Aufsichtsbehörde. In der Regel können Sie sich hierfür an die Aufsichtsbehörde insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes wenden.
                <br /><br />
            </li>
    </ol>



    <br/>
    <strong>Datensicherheit</strong>
    <p>Um alle personenbezogen Daten, die an uns übermittelt werden, zu schützen und um sicherzustellen, dass die Datenschutzvorschriften von uns, aber auch unseren externen Dienstleistern eingehalten werden, haben wir geeignete technische und organisatorische Sicherheitsmaßnahmen getroffen. Deshalb werden unter anderem alle Daten zwischen Ihrem Browser und unserem Server über eine sichere SSL-Verbindung verschlüsselt übertragen.</p>
    <br />

    <br/>
    <strong>Stand: 25.03.2024</strong>

    <p>Quelle: <a href="https://www.juraforum.de">Jetzt mehr erfahren</a></p>
</section>
