---
title: Projekte
img_class: hide-xs
---

<section>
    <p>
        Sebastian Rudolfo Christ spielt mit verschiedenen lokalen Ensembles
        im Rhein-Neckar- und Rhein-Main-Gebiet, u.A.:
        <dl>
            <dt class="text-uppercase">Hot Club Worms</dt>
            <dd class="text-right">
                <%= link_to "Link zur Website", "https://hotclubworms.de" %>
            </dd>
            <dt class="text-uppercase">Mainouche</dt>
            <dd class="text-right">
                <%= link_to "Link zur Webstie", "https://mainouche.de" %>
            </dd>
            <dt class="text-uppercase">CLOS Duo</dt>
            <dd class="text-right">
                <p>
                    Easy Listenting Jazz Standards mit Gitarre, Kontrabass und Vocals.
                </p>
            </dd>
        </dl>
        
    </p>
</section>
