---
title: Projekte
img_class: hide-xs
---

<section>
    <p>
        Sebastian Rudolfo Christ spielt mit verschiedenen lokalen Ensembles
        im Rhein-Neckar- und Rhein-Main-Gebiet, u.A.:
        <dl>
            <dt class="text-uppercase">Hot Club Worms</dt>
            <dd class="text-right">
                <%= link_to "Website", "https://hotclubworms.de" %>
            </dd>
            <dt class="text-uppercase">Mainouche</dt>
            <dd class="text-right">
                <%= link_to "Website", "https://mainouche.de" %>
            </dd>
            <dt class="text-uppercase">CLOS Duo</dt>
            <dd class="text-right">
                <p>
                    Easy Listening Jazz Standards und Jazz-Pop  mit Gitarre, Kontrabass und Vocals.
                </p>
            </dd>
            <dt class="text-uppercase">Rodolfo &amp; Rudolfo</dt>
            <dd class="text-right">
                <p>
                    Jazz manouche Duo mit Geige und Gitarre.
                </p>
            </dd>
            <dt class="text-uppercase">Shabbir/Christ</dt>
            <dd class="text-right">
                <p>
                    Jazz manouche Gitarren-Duo.
                </p>
            </dd>
        </dl>
        
    </p>
</section>
