---
title: Shows
layout: hard_links
----

<section>
    <h1 class="primary-heading">Shows</h1>
    <ul class="shows" role="list">
        <% events.each do |event| %>
            <%= partial :show, locals: { event: event } %>
        <% end %>
    </ul>
</section>
