---
title: Termine
img_class: hide-xs
layout: no-img
---

<section>
    <h2>Upcoming</h2>
    <p id="no-upcoming-note" class="is-hidden">Derzeit gibt es keine anstehenden Veranstaltungen.</p>
    <ul id="upcoming"></ul>
</section>

<section>
    <h2>Past Events</h2>
    <ul id="events">
        <% events.each do |item| %>
            <%= partial "event", locals: { event: item } %>
        <% end %>
    </ul>
</section>
