---
title: Unterricht
layout: no-img
---
<section>
    <aside>
        <%= image_tag "bw-seb.jpg", alt: "Sebastian Rudolfo Christ an der Gitarre in schwarz-weiss", class: "rounded-corners" %>
    </aside>
    <p>
        Gitarren Einzel- und Gruppenunterricht für
    </p>
    <ul class="org-ul">
        <li>Jazz Manouche</li>
        <li>Swing</li>
        <li>Traditional Jazz</li>
    </ul>

    <p>
        Der Unterricht vermittelt die folgenden Inhalte
    </p>

    <ul class="org-ul">
        <li>korrekte Picking Technique (rest stoke technique)</li>
        <li>Rhythmus und Begleitung</li>
        <li>Akkorde und Chord Voicings</li>
        <li>Improvisation</li>
    </ul>

    <p>
        Grundkenntnisse an der Gitarre sollten vorhanden sein.
    </p>

    <p>
        Meine didaktische Methode orientiert sich an der Chang/van Hemert-Methode und versucht mit so wenig
        musiktheoretischen Inhalten und ohne Noten die obigen Themenbereiche zu vermitteln. Das spielerische
        Ausprobieren und der Fokus auf das sofortige Umsetzen der Lerninhalte sorgt dafür, dass das
        Erlernte sich tief verwurzelt und gleich dem Erlernen einer Sprache in die Spielweise und den musikalischer Ausdruck
        einfließt.
    </p>

    <p>
        Unterrichtsort ist Worms oder auf Wunsch an einem anderen Ort im näheren Einzugsgebiet.
        Unterricht vor Ort im  Rhein-Main- oder Rhein-Neckar-Gebiet (Mannheim, Heidelberg, Mainz, etc.) ist ebenfalls
        gegen eine Anfahrtspauschale möglich.
    </p>

    <p>
        Preise:
    </p>

    <p>
        35 €/h
    </p>

    <p>
        Bei Interesse kontaktieren Sie mich bitte unter <a href="mailto:me@rudolfochristguitar.de">me@rudolfochristguitar.de</a>.
    </p>
</section>
